@import "../utils/mixin";
@import "../utils/paceholder";
.first {
    background-image: url(.././img/chapter1-bg.jpg);
    @extend %background;
    padding: 100px 0;
    &__box {
        @include displayFlex ($gap: 30px, $alignItems: center, $justifiContent: center, $flexDirection: column );
        color: #FFF;
        text-align: center;
    }
    &__title {
        font-size: 44px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 2.64px;
        text-transform: uppercase;
        margin-top: 100px;
        width: 696px;
    }
    &__btn {
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.96px;
        padding: 10px 32px;
        @extend %btnBackground;
        margin-bottom: 100px;
        transition: all 700ms;
        &:hover{
            background-color: #188CE8;
        }
    }

}
@media (max-width: 768px){
    .first{
        padding: 180px 0;
        &__btn{
            margin: 0;
        }
        &__title{
            margin: 0;
        }
    }
    .first__title{
        font-size: 26px;
        font-weight: 900;
        line-height: 42px;
        letter-spacing: 1.56px;
        width: 360px;
    }
}
@media (max-width:480px){
    .first__title{
        font-size: 22px;
        width: 320px;
    }
}