@charset "UTF-8";
body {
  font-family: Roboto;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, li, menu, p {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  color: #fff;
  border: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.logo--blue {
  color: #2196F3;
}

.service__title {
  color: rgb(33, 33, 33);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
  margin-bottom: 50px;
}

.team__title {
  color: rgb(33, 33, 33);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
  margin-bottom: 50px;
}

.clients__title {
  color: rgb(33, 33, 33);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
  margin-bottom: 50px;
}

.service__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-direction: column;
}

.team__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-direction: column;
}

.clients__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-direction: column;
}

.service__content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
  margin-bottom: 188px;
}

.team__content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
  margin-bottom: 188px;
}

.social-links__title {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form__title {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-direction: row;
  font-size: 14px;
}
.header__inner .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 93px;
  flex-direction: row;
}
.header__inner .menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: row;
  color: #212121;
}
.header__inner .menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  flex-direction: row;
  padding: 32px 0;
  overflow: hidden;
  position: relative;
  transition: all 700ms;
}
.header__inner .menu__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  left: 0;
  bottom: -100%;
  transition: bottom 400ms;
}
.header__inner .menu__item:hover {
  color: #2196F3;
}
.header__inner .menu__item:hover::after {
  bottom: 0;
}
.header__inner .menu__item--main {
  color: #2196F3;
}
.header__inner .menu__item--main::after {
  bottom: 0;
}
.header__inner .menu__link {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  width: 100%;
  height: 100%;
}
.header__inner .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__inner .contact__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  color: #757575;
  fill: #757575;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: all 700ms;
}
.header__inner .contact__link:hover {
  color: #2196F3;
  fill: #2196F3;
}

.service__item, .first {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.first__btn {
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
}

.first {
  background-image: url(.././img/chapter1-bg.jpg);
  padding: 100px 0;
}
.first__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  color: #FFF;
  text-align: center;
}
.first__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-top: 100px;
  width: 696px;
}
.first__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  padding: 10px 32px;
  margin-bottom: 100px;
  transition: all 700ms;
}
.first__btn:hover {
  background-color: #188CE8;
}

.advantages {
  color: #757575;
  margin: 94px 0;
}
.advantages__box .advantages-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
}
.advantages__box .advantages-list__item {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  flex-direction: column;
}
.advantages__box .advantages-list__item::before {
  content: url(../icomoon/SVG/antenna.svg);
  padding: 25px 100px;
  border-radius: 4px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  transition: all 600ms;
}
.advantages__box .advantages-list__item:hover::before {
  background-color: #e3deff;
}
.advantages__box .advantages-list__item:nth-child(2)::before {
  content: url(../icomoon/SVG/clock.svg);
}
.advantages__box .advantages-list__item:nth-child(3)::before {
  content: url(../icomoon/SVG/diagram.svg);
}
.advantages__box .advantages-list__item:nth-child(4)::before {
  content: url(../icomoon/SVG/astronaut.svg);
}
.advantages__box .advantages-list__name {
  color: #212121;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.service__item, .first {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.first__btn {
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
}

.service__item {
  background-image: url(../img/service/img1.png);
  width: 370px;
  height: 294px;
  color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}
.service__item::before {
  content: "Десктопні додатки";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: -70px;
  transition: all 600ms;
}
.service__item:hover::before {
  bottom: 0;
}
.service__item:nth-child(2) {
  background-image: url(../img/service/img2.png);
}
.service__item:nth-child(2)::before {
  content: "Мобільні додатки";
}
.service__item:nth-child(3) {
  background-image: url(../img/service/img3.png);
}
.service__item:nth-child(3)::before {
  content: "Дизайнерські рішення";
}

.first, .service__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.first__btn {
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
}

.team__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
}
.team__img {
  width: 270px;
  height: 260px;
  margin-bottom: 20px;
}
.team__name, .team__position {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;
}
.team__position {
  color: rgb(117, 117, 117);
  font-weight: 400;
}
.team .team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  margin-bottom: 30px;
}
.team .team-social-list__item {
  border-radius: 100%;
  overflow: hidden;
}
.team .team-social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  padding: 12px;
  background-color: #FFFFFF;
  fill: #AFB1B8;
  width: 100%;
  height: 100%;
  transition: fill 500ms, background-color 400ms;
}
.team .team-social-list__link:hover {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.first, .service__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.first__btn {
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
}

.clients {
  margin-bottom: 94px;
}
.clients .clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
}
.clients .clients-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  border: 1px solid;
  border-color: rgb(175, 177, 184);
  border-radius: 4px;
  padding: 16px 32px;
  fill: rgb(175, 177, 184);
  transition: all 500ms;
}
.clients .clients-list__item:hover {
  fill: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
  transform: translateY(-15px);
}
.clients .clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  width: 100%;
  height: 100%;
  fill: inherit;
}

.first, .service__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.first__btn {
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
}

.footer {
  padding: 60px 215px;
  background: rgb(47, 48, 58);
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-direction: row;
}
.footer__info-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.footer__info-box .logo--white {
  color: rgb(255, 255, 255);
}
.footer__info-box .contact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 9px;
  flex-direction: column;
}
.footer__info-box .contact__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  transition: all 600ms;
}
.footer__info-box .contact__link:hover {
  color: rgb(255, 255, 255);
  transform: translateX(15px);
}
.footer .social-links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  flex-direction: column;
}
.footer .social-links__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
}
.footer .social-links__item {
  border-radius: 100%;
  overflow: hidden;
}
.footer .social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  padding: 12px;
  background: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  width: 100%;
  height: 100%;
  transition: all 400ms;
}
.footer .social-links__link:hover {
  background: rgb(33, 150, 243);
}
.footer .form__item-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-direction: row;
}
.footer .form__input {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  padding: 15px 16px;
  width: 358px;
  transition: all 600ms;
}
.footer .form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
}
.footer .form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
}
.footer .form__input:focus {
  outline: none;
  border-color: rgba(129, 198, 255, 0.356);
}
.footer .form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: rgb(33, 150, 243);
  fill: #FFFFFF;
  padding: 10px 28px;
  transition: all 600ms;
}
.footer .form__btn:hover {
  background-color: rgb(7, 127, 224);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.no-scroll {
  overflow: hidden;
}

.btn-open {
  color: rgb(197, 197, 12);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  background-color: skyblue;
  transform: translate(-50%, -50%);
}