@import "vars";

body{
    font-family: Roboto;
    color: $black-color;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, li, menu, p {
    margin: 0;
    padding: 0;
}
button{
    margin: 0;
    padding: 0;
    color: #000;
    border: none;
}
.container {
    width: 1200px;
    padding: 0 5px;
    margin: 0 auto;
}
.title {
    color: $black-color;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    &--footer{
        color: $white-color;
        text-align: start;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}
.contact-list {
    display: flex;
    align-items: center;
    gap: 30px;
    &--footer {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 9px;
        margin-top: 20px; 
    }
    &__contact-link {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $black-color;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
        &:hover{
            color: $blue-color;
            fill: $blue-color;
        }
        &--footer {
            color: rgba(255, 255, 255, 0.60);
            &:hover{
                color: $white-color;
            }
        }
    }
} 
.media-list {
    display: flex;
    justify-content: space-evenly;
    &--footer{
        gap: 10px;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        fill: $color-svg;
        border-radius: 50px;
        &:hover{
            background-color: $blue-color;
            fill: $white-color
        }
    }
    &__svg {
        fill: inherit;
        margin-top: 4px;
    }
}