.modal {
    .modal-header {
        &__title {
            color: #212121;
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.6px;
        }
    }
    &__form {
        color: #757575;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.12px;
    }
    .checkbox-modal {
        &__text {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.42px;
        }
    }
    .modal-footer {
        #close-modal{
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0.96px;
            padding: 10px 52px;
            border-radius: 4px;
            background: #2196F3;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }
    }
}