.chapter1 {
    margin: 94px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .filters-box {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.48px;
        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__link {
            border-radius: 4px;
            background: #F5F4FA;
            padding: 6px 22px;
            &:hover{
                color: #FFF;
                border-radius: 4px;
                background: #2196F3;
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
            }
        }
    }
}