.footer {
    background-color: #2F303A;
    .footer-box {
        padding: 60px 0 60px;
        display: flex;
        &__contact-box {
            margin-right: 70px;
        }
        .media-box {
            .media-list {
                display: flex;
                justify-content: space-evenly;
                &__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 44px;
                    height: 44px;
                    fill: #AFB1B8;
                    border-radius: 50px;
                    background-color: rgba(255, 255, 255, 0.10);
                    &:hover{
                        background-color: #2196F3;
                        fill: #FFF;
                    }
                }
                &__svg {
                    fill: inherit;
                    margin-top: 4px;
                }
            }
        }
    }
}