$black-color: #212121;
$blue-color: #2196F3;
$blue-btn-color: #2196F3;
$blue-color-btn-hover: #0e78ce;
$white-color: #FFF;
$color-svg: #AFB1B8;
$gray-color: #757575;
$footer-text-color: rgba(255, 255, 255, 0.60);
$footer-svg-color: #FFF;
$before-after-bg-color: #F5F4FA;
$hover-before-after-bg-color: #e9e7f1;
$text-box-bg-color: rgba(47, 48, 58, 0.80);
$filter-bg-color: #F5F4FA;
$white-border-color: #EEE;
